<!DOCTYPE html>
<html lang="en">
<%
var isloginpage = 0;
%>
<head>
<%- include ../components/header-common.html %>
</head>
<body>

    <!-- Navigation -->
    <%-include ../components/global-navbar.html%>

    <!-- Page Content -->
    <div class="container" style="margin-top: 5em;">
        <div class="row">
            <%-include ../components/nonmediapagecontainer.html%>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Categories Well -->
                <%-include ../components/blogsidebar.html%>
            </div>
        </div>
        <!-- /.row -->
        <hr>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <%-include ../components/footer.html%>
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>