<!DOCTYPE html>
<html lang="en">
<%
var isloginpage = 0;
%>
<head>
<%- include ../components/header-common.html %>
<%- include ../components/header-KindEditor.html %>
</head>
<body>
<%-include ../components/global-navbar.html%>

    <!-- Page Content -->
    <div class="container" style="margin-top:8em;">
        <div class="row">
            <form class="col-md-8" method="post">
	           标题:<br />
	           <input type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
	           标签:<br />
	           <input type="text" name="tag1" value="<%= post.tags[0] %>" disabled="disabled" /><br />
	           简要描述:<br />
	           <input type="text" name="brief" value="<%= post.brief %>"/><br />
	           正文:<br />
	           <textarea name="post" rows="20" cols="100" style="width:100%; height:350px;"><%= post.post %></textarea><br />
	           <input type="submit" value="保存" />
            </form>


            <div class="col-md-4">
            <%-include ../components/blogsidebar.html%>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <%-include ../components/footer.html%>
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>