<!DOCTYPE html>
<html lang="en">
<%
var isloginpage = 0;
%>
<head>
<%- include ../components/header-common.html %>
<%- include ../components/header-KindEditor.html %>
</head>

<body>
<%-include ../components/global-navbar.html%>

    <!-- Page Content -->
    <div class="container" style="margin-top:8em;">
        <div class="row">



        
        <form class="col-md-8" method="post">
            <div>
            <label>jobtype</label>
            <select class="form-control" name="jobtype">
              <option>NETWORK</option>
              <option>MANUFACTOR</option>
              <option>FINANCIAL</option>
              <option>4</option>
              <option>5</option>
            </select>
            </div>
            <div class="form-group">
                <label>jobname</label>
                <input type="text" class="form-control" name="jobname" placeholder="what's the name of the job?">
            </div>
            <div class="form-group">
                <label>salary</label>
                <input type="text" class="form-control" name="jobsalary" placeholder="how much would you want to pay for?">
            </div>
            <div class="form-group">
                <label>location</label>
                <input type="text" class="form-control" name="joblocation" placeholder="where is the workplace?">
            </div>
            <div class="form-group">
                <label>fuli</label>
                <input type="text" class="form-control" name="jobfuli" placeholder="how about the fuli?">
            </div>
            <div class="form-group">
                <label>requirement</label>
                <input type="text" class="form-control" name="jobrequire" placeholder="what's your requirement?">
            </div>
            <div class="form-group">
                <label>others</label>
                <textarea name="jobothers" rows="20" cols="100" style="width:100%; height:350px;"></textarea>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
            <div class="col-md-4">
            <%-include ../components/usersidebar.html%>
            </div>
        </div>
    </div>
    <%-include ../components/footer.html%>
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>