<!DOCTYPE html>
<html lang="en">
<%
var isloginpage = 0;
%>
<head>
<%- include ../components/header-common.html %>
</head>

<body>

    <%-include ../components/global-navbar.html%>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
	       	<div class="col-md-8">
			<ul class="archive">
				<% var lastYear = 0 %>
				<% posts.forEach(function(post, index){ %>
				<% if (lastYear != post.time.year) { %>
				<li><h3><%= post.time.year %></h3></li>
				<% lastYear = post.time.year } %>
				<li><time><%= post.time.day %></time></li>
				<li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
				<% }) %>
			</ul>
			</div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
            <%-include ../components/blogsidebar.html%>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        
    </div>
    <!-- /.container -->
    <%-include ../components/footer.html%>
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>