<!DOCTYPE html>
<html lang="en">
<%
var isloginpage = 0;
%>
<head>
<%- include ../components/header-common.html %>
</head>
<body>
    <!-- Page Content -->

    <div class="container">
		<hr>
		<div class="text-center">
			<span>Scan the qrcode , then share it to friend circle like the following steps...</span>
			<img src="<%= qrcode %>">
		</div>
		<hr>
        <img src="http://v.youku.com/v/img/wx_explain.png">
        <hr>

    </div>
    <!-- Footer -->
    <%-include ../components/footer.html%>
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>