<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../components/header-common.html %>
</head>

<body>
	<!--indication appearence-->
	<style>
	 #mcover {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 20000;
	 }
	 #mcover img {
		position: fixed;
		right: 18px;
		top: 5px;
		width: 260px!important;
		height: 180px!important;
		z-index: 20001;
	 }
	 </style>
	<div id="mcover" onclick="shareIndDisappear()" style="display:none;">
      <img src="https://mmbiz.qlogo.cn/mmbiz/vV3bdMHsLIjY2s0npKT0FaJ6iaC1MaiciakM61zfqBsNjYH14ovUG145GEuwMPafiaPjh5drSaAg8DMTic3a2I3icbLg/0" />
   </div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">使用手机号认证登录</h4>
	      </div>
	      <div class="modal-body">
	        <form class="col-md-12">
	          <div class="form-group">
	            <label for="phonenumber">手机号</label>
	            <input type="text" class="form-control" id="phonenumber" placeholder="你的手机号">
	          </div>
	          <div class="form-group">
	            <label for="confirmno">验证码</label>
	            <input type="text" class="form-control" id="confirmno" placeholder="输入验证码">
	          </div>
	          <div>验证码是:<a id="authcodedis"></a></div>
	          <a class="btn btn-default" href="javascript:getauthcodejs();" role="button">获取验证码</a>
	          <a class="btn btn-default" href="javascript:confirmauthcodejs();" role="button">确认</a>
	        </form>	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>
    <!-- Page Content -->
    <div class="container">

    	<div class="text-center" style="margin-top: 5em;">
    		<h3><%= job.jobname %></h3>
    	</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    	<ul class="list-inline">
			<li>
				<% if (user) { %>
				<a class="btn btn-success" href="javascript:shareIndAppear();" role="button">
					<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
					微信分享
				</a>
				<% } else { %>
				<a class="btn btn-success" data-toggle="modal" data-target="#myModal" data-whatever="share" role="button">
					<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
					微信分享
				</a>
				<% } %>
			</li>
			<li>
				<% if (user) { %>
				<a class="btn btn-info" href="/sendresumesimple/<%= job.publisher %>/<%= job.jobname %>/<%= sharer%>/<%= user.name%>" role="button">
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
					应聘</a>
				<% } else { %>
				<a class="btn btn-info" data-toggle="modal" data-target="#myModal" data-whatever="send" role="button">
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
					应聘</a>
				<% } %>
			</li>
 			<li>
				<a class="btn btn-warning" href="/" role="button">
					主页
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				</a>
			</li>
			<li>
				<a class="btn btn-warning" href="/blog" role="button">
					更多
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</a>
			</li>
    	</ul>
  </div>
</nav>

		<hr>


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">招聘信息</div>
        <div class="panel-body">
	        <p><%-job.publisher %> 发布于 <%- job.time.minute %></p>
			<div class="list-group">
			  <a class="list-group-item">
			    <h4 class="list-group-item-heading">年薪</h4>
			    <p class="list-group-item-text"><%-job.jobsalary %></p>
			  </a>
			  <a class="list-group-item">
			    <h4 class="list-group-item-heading">工作地点</h4>
			    <p class="list-group-item-text"><%-job.joblocation %></p>
			  </a>
			  <a class="list-group-item">
			    <h4 class="list-group-item-heading">福利保障</h4>
			    <p class="list-group-item-text"><%-job.jobfuli %></p>
			  </a>
			  <a class="list-group-item">
			    <h4 class="list-group-item-heading">要求</h4>
			    <p class="list-group-item-text"><%-job.jobrequire %></p>
			  </a>
			  <a class="list-group-item">
			    <h4 class="list-group-item-heading">其它</h4>
			    <p class="list-group-item-text"><%-job.jobothers %></p>
			  </a>
			</div>
    	</div>
	</div>


    </div>

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Socket io JavaScript -->
    <script src="/bootstrap/cust-js/socket.io.js"></script>
    <!-- AuthCodeGen websocket JavaScript -->
    <script src="/bootstrap/cust-js/authcode-ws-client.js"></script>  

	<script type="text/javascript"> //initiating jQuery 
	$('#myModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  shareorsend = button.data('whatever') // Extract info from data-* attributes

	  console.log('myModal : ' + shareorsend);
	});

	function shareIndAppear(){
		console.log('shareIndAppear');
		//window.location.replace(window.location.href)
		$.ajax({
			url: window.location.href,
			type: 'get',
			data: {num: user_phoneno},
			dataType: 'json'
		});
		$("#mcover").css("display","block")    // 分享给好友按钮触动函数
			 //to do inform the system the new sharer
			 <% if (user) { %>
			 	user_phoneno = '<%= user.name%>';
			 <% } %>
			 addnewsharerjs(user_phoneno,'<%= sharer%>','<%= job.publisher %>','<%= job.jobname %>');		
	}
	function shareIndDisappear(){
		console.log('shareIndDisappear');
	$("#mcover").css("display","none");  // 点击弹出层，弹出层消失
	}
	function closeModal(){
		$('#myModal').modal('hide');
	}
	function getsendresumesimply(){
		console.log('/sendresumesimple/<%= job.publisher %>/<%= job.jobname %>/<%= sharer%>/' + user_phoneno);
		window.location.href = '/sendresumesimple/<%= job.publisher %>/<%= job.jobname %>/<%= sharer%>/' + user_phoneno;
	}
	</script>
</body>
</html>