<!DOCTYPE html>
<html lang="en">
<%
var isloginpage = 0;
%>
<head>
<%- include ../components/header-common.html %>
<%- include ../components/header-KindEditor.html %>
</head>
<body>
<%-include ../components/global-navbar.html%>

    <!-- Page Content -->
    <div class="container">
        
        <div class="row">

            <!-- Blog Entries Column -->
            <%-include ../components/imgpagecontainer.html%>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
            <%-include ../components/blogsidebar.html%>
            </div>
            </div>
            <hr>
    </div>
    <!-- Footer -->
    <%-include ../components/footer.html%>
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
