
                <!-- Blog Categories Well -->
                <div class="well">
                    <form class="form-inline" action="/blog/search" method="post">
                        <input type="text" class="form-control" placeholder="请输入要查找的内容" name="searchword">
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </form>
                    <h4>分类信息</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="/blog">应用开发</a>
                                </li>
                                <li><a href="/blog">设备开发</a>
                                </li>
                                <li><a href="/blog">玩家交流</a>
                                </li>
                                <li><a href="/blog">资源分享</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="/blog">在研项目信息</a>
                                </li>
                                <li><a href="/blog">项目众筹</a>
                                </li>
                                <li><a href="/blog">心得分享</a>
                                </li>
                                <li><a href="/qrcode">线下活动</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>站内公告</h4>
                    <p>这是一个神奇的网站</p><br>
                    <p>这是一个极客聚居地</p><br>
                    <p>这是一个创意的乐园</p>
                </div>

