<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">知名企业职位</div>
  <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/54fe5e0d0cf2541b7c94105602c.png" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/5502b449430afef1c14ebb7e02c.jpg" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/559c7f584664e2992df909f403a.png" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/55b7562f0cf2bee2d4f2500e03a.jpg" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/55e6b6f245ce5071105bc4be03a.png" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/55a31d064664e2992dfb678603a.png" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/55b1e14f4664e2992dfe43ed03a.png" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/55a349f64664e2992dfb74cd03a.jpg" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/55d1a69590ee8c3a228caaa303a.png" alt="...">
                                </li>
                                <li style="margin-top:1em;">
                                    <img src="http://image0.lietou-static.com/img/55e3b05b45ce2680702b0d1003a.gif" alt="...">
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
  </div>


</div>