				<% if (user.ishr == "yes") { %>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">招聘信息管理</div>
                    <div class="panel-body">
                    <a class="btn btn-success" href="/postjob">发布招聘信息</a>
                    </div>
                </div>
                <%}else{%>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">个人信息管理</div>
                    <div class="panel-body">
                    <p>//to do...</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">分红信息管理</div>
                    <div class="panel-body">
                    <p>//to do...</p>
                    </div>
                </div>
                <%}%>
