<br />
<% post.comments.forEach(function(comment, index) { %>
<p>
	<a href="<%= comment.website %>"><%= comment.name %></a>
	<span class="info">回复于<%= comment.time %></span>
</p>
<p><%- comment.content %></p>
<% }) %>

<form method="post">
	<% if (user) { %>
	<input class="hide" type="text" name="name" value="<%= user.name %>" /><br />
	<% } else { %>
	<input class="hide" type="text" name="name" value="游客"/><br />
	<% } %>
	<textarea name="content" rows="5" cols="80" style="width:100%; height:350px;"></textarea><br />
	<input type="submit" value="留言" /> 
</form>