<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="wb:webmaster" content="f2964a63d84c30f9" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

    <title>Future</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% if(ifeditorexist == 1)
        {
    %>
    <script charset="utf-8" src="/kindeditor/kindeditor-min.js" type="text/javascript"></script>
    <script charset="utf-8" src="/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
    <script>
    var editor;
    KindEditor.ready(function(K){
        editor = K.create('textarea', {
            //上传管理
            uploadJson: '/upload',  

            items : ['preview', '|', 'undo', 'redo', '|',  'print', 'template', 'code', 'cut', 'copy', 'paste',  
             'plainpaste', 'wordpaste', 'justifyleft', 'justifycenter', 'justifyright',  
            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',  
            'superscript', 'clearhtml', 'quickformat', 'selectall', 'fullscreen', 
            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',  
            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', 'image', "media", 
            'table', 'hr', 'emoticons', 'baidumap', 'pagebreak', 'anchor', 'link', 'unlink']
        });
    });
    </script>
    <%}%>
</head>