<!DOCTYPE html>
<html lang="en">

<%
var ifeditorexist = 0;
var isloginpage = 1;
%>
<%- include header.html %>

<body>

    <!-- Navigation -->
<%-include global-navbar.html%>

    <!-- Page Content -->
    <div class="container disend-2p5em">

        <div class="row">
            <form class="loginform col-md-8" method="post">
            	<label for="txtname">用户名:</label>
            	<input type="text" name="name"/><br />
            	<label for="txtname">密码: </label>
                <input type="password" name="password"/><br />
                <input class="btn" type="reset" />
            	<input class="btn" type="submit" value="登陆" />
            </form>
            <div class="col-md-4">
            <%-include blogsidebar.html%>
            </div>
        </div>
        <!-- Footer -->
<%-include footer.html%>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>