<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= post.title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/bootstrap/cust-css/style.css" rel="stylesheet">

</head>


<body>
	<!--indication appearence-->
	<style>
	 #mcover {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 20000;
	 }
	 #mcover img {
		position: fixed;
		right: 18px;
		top: 5px;
		width: 260px!important;
		height: 180px!important;
		z-index: 20001;
	 }
	 </style>
	<div id="mcover" onclick="shareIndDisappear()" style="display:none;">
      <img src="https://mmbiz.qlogo.cn/mmbiz/vV3bdMHsLIjY2s0npKT0FaJ6iaC1MaiciakM61zfqBsNjYH14ovUG145GEuwMPafiaPjh5drSaAg8DMTic3a2I3icbLg/0" />
   </div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">使用手机号认证登录</h4>
	      </div>
	      <div class="modal-body">
	        <form class="col-md-12">
	          <div class="form-group">
	            <label for="phonenumber">手机号</label>
	            <input type="text" class="form-control" id="phonenumber" placeholder="你的手机号">
	          </div>
	          <div class="form-group">
	            <label for="confirmno">验证码</label>
	            <input type="text" class="form-control" id="confirmno" placeholder="输入验证码">
	          </div>
	          <div>验证码是:<a id="authcodedis"></a></div>
	          <a class="btn btn-default" href="javascript:getauthcodejs();" role="button">获取验证码</a>
	          <a class="btn btn-default" href="javascript:confirmauthcodejs();" role="button">确认</a>
	        </form>	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>
    <!-- Page Content -->
    <div class="container">

    	<div>
    		<a><%= post.title %></a>
    	</div>

    	<ul id="stickbtns" class="list-inline navbar-static-top">
			<li>
				<% if (user) { %>
				<a class="btn btn-primary btn-lg" href="javascript:shareIndAppear();" role="button" style="background-color:rgba(100,150,200,0.5)">
					<img src="https://mmbiz.qlogo.cn/mmbiz/vV3bdMHsLIjY2s0npKT0FaJ6iaC1MaiciakIHMqX6tb7127kicbBd5vIZcey4wenREiaEe8YXshOWpFcIser6AgbsEA/0" width="20em" height="20em" />
					微信分享赚外快
				</a>
				<% } else { %>
				<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-whatever="share" role="button" style="background-color:rgba(100,150,200,0.5)">
					<img src="https://mmbiz.qlogo.cn/mmbiz/vV3bdMHsLIjY2s0npKT0FaJ6iaC1MaiciakIHMqX6tb7127kicbBd5vIZcey4wenREiaEe8YXshOWpFcIser6AgbsEA/0" width="20em" height="20em" />
					微信分享赚外快
				</a>
				<% } %>
			</li>
			<li>
				<% if (user) { %>
				<a class="btn btn-primary btn-lg" href="/sendresumesimple/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/<%= sharer%>/<%= user.name%>" role="button" style="background-color:rgba(0,255,0,0.5)">自己投简历</a>
				<% } else { %>
				<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-whatever="send" role="button" style="background-color:rgba(0,255,0,0.5)">自己投简历</a>
				<% } %>
			</li>
    	</ul>
		<hr>
		<div class="articalcontent">
		<%- post.post %>
		</div>
	<hr>
    <!-- Footer -->
	<%-include footer.html%>
    </div>
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--stickup js-->
    <script src="/bootstrap/dist/js/stickUp.min.js"></script>
    <!-- Socket io JavaScript -->
    <script src="/bootstrap/dist/js/socket.io.js"></script>
    <!-- AuthCodeGen websocket JavaScript -->
    <script src="/bootstrap/dist/js/authcode-ws-client.js"></script>  

	<script type="text/javascript"> //initiating jQuery 
	jQuery(function($) { $(document).ready( function() { 
		//enabling stickUp on the '.navbar-wrapper' class 
		$('#stickbtns').stickUp(); }); 
	});
	$('#myModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  shareorsend = button.data('whatever') // Extract info from data-* attributes

	  console.log('myModal : ' + shareorsend);
	});

	function shareIndAppear(){
		console.log('shareIndAppear');
		//window.location.replace(window.location.href);
		$.ajax({
			url: window.location.href,
			type: 'get',
			data: {
				"phonenumber": user_phoneno
			}
		});

		$("#mcover").css("display","block")    // 分享给好友按钮触动函数
			 //to do inform the system the new sharer
			 <% if (user) { %>
			 	user_phoneno = '<%= user.name%>';
			 <% } %>
			 addnewsharerjs(user_phoneno,'<%= sharer%>','<%= post.name %>','<%= post.time.day %>','<%= post.title %>');		
	}
	function shareIndDisappear(){
		console.log('shareIndDisappear');
	$("#mcover").css("display","none");  // 点击弹出层，弹出层消失
	}
	function closeModal(){
		$('#myModal').modal('hide');
	}
	function getsendresumesimply(){
		console.log('/sendresumesimple/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/<%= sharer%>/' + user_phoneno);
		window.location.href = '/sendresumesimple/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/<%= sharer%>/' + user_phoneno;
	}
	</script>
</body>
</html>