<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= post.title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/bootstrap/cust-css/style.css" rel="stylesheet">

</head>


<body>
    <!-- Page Content -->
    <div class="container">
    	<div class="divtitle ">
    		<a><%= post.title %></a>
    	</div>

    	<ul id="sendresumestick" class="list-inline navbar-static-top">
			<li>
				<% if (user) { %>
				<a class="btn btn-primary btn-lg" href="#" role="button" style="background-color:rgba(255,0,0,0.5)">分享给身边的好友</a>
				<% } else { %>
				<a class="btn btn-primary btn-lg" href="/notreg/share/<%= post.name %>/:time/<%= post.title %>/<%= sharer%>" role="button" style="background-color:rgba(255,0,0,0.5)">分享给身边的好友</a>
				<% } %>
			</li>
			<li>
				<% if (user) { %>
				<a class="btn btn-primary btn-lg" href="/sendresumesimple/<%= post.name %>/:time/<%= post.title %>/<%= sharer%>" role="button" style="background-color:rgba(255,0,0,0.5)">自己投简历</a>
				<% } else { %>
				<a class="btn btn-primary btn-lg" href="/notreg/share/<%= post.name %>/:time/<%= post.title %>/<%= sharer%>" role="button" style="background-color:rgba(0,255,0,0.5)">自己投简历</a>
				<% } %>
			</li>
    	</ul>
		<hr>
		<div class="articalcontent">
		<%- post.post %>
		</div>
	<hr>
    <!-- Footer -->
	<%-include footer.html%>
    </div>
    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--stickup js-->
    <script src="/bootstrap/dist/js/stickUp.min.js"></script>
	<script type="text/javascript"> //initiating jQuery 
	jQuery(function($) { $(document).ready( function() { 
		//enabling stickUp on the '.navbar-wrapper' class 
		$('#sendresumestick').stickUp(); }); 
	}); 
	</script>
</body>
</html>